<p>
  <% @product.each do |products| %>
      <tr>
        <td><%= products.id %></td>
        <td><%= products.name %></td>
        <td><%= products.description %></td>
        <td><%= products.price %></td>
        <td><%= products.qty %></td>
        <td><%= products.tags %></td>
        <!-- <td><%= products.image %></td> -->
        <!-- <%= image_tag products.image.url%> -->
      </tr>
 <% end %>
</p>
