<p>
  <% @product.each do |products| %>
      <tr>
        <td><%= products.id %></td>
        <td><%= products.name %></td>
        <td><%= products.description %></td>
        <td><%= products.price %></td>
        <td><%= products.qty %></td>
        <td><%= products.tags %></td>
      </tr>
 <% end %>
   <button type="button">CPU!</button>
</p>
<p>

  <% @productCategory.each do |productsCat| %>
     <tr>
       <td><%= productsCat.name %></td>
     </tr>
<% end %>
</p>

<p>

  <% Product.where(tags: 'Motherboard').each do |productsCats| %>
     <tr>
       <td><%= productsCats.name %></td>
     </tr>
<% end %>
</p>
