<p>
  <% @product.each do |products| %>
      <tr>
        <td><%= products.id %></td>
        <td><%= products.name %></td>
        <td><%= products.description %></td>
        <td><%= products.price %></td>
        <td><%= products.qty %></td>
        <td><%= products.tags %></td>
      </tr>
 <% end %>
   <button type="button">CPU!</button>
</p>
<form>
    <%= link_to "clean", clean_path, :class => 'btn btn-primary'%> # you can add btn class if you are using bootstarp
</form>

<% @productCategory.each do |productsCats| %>
   <tr>
   <td><%= productsCats.name %></td> </tr>
<% end %>
